<!DOCTYPE html>
<html>
<head>
    <title>게시판 목록</title>
</head>
<body>
    <h1>게시판 목록</h1>
    <ul>
        <% boards.forEach(function(board) { %>
            <li><a href="/posts/boards/<%= board.board_code %>"><%= board.board_name %></a></li>
        <% }); %>
    </ul>
</body>
</html>