<!DOCTYPE html>
<html>
<head>
  <title>아이디/비밀번호 찾기</title>
  <meta charset='utf-8'>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const urlParams = new URLSearchParams(window.location.search);
      const result = urlParams.get('result');
  
      if (result) {
        alert(result);
      }
    });
    document.addEventListener('DOMContentLoaded', function() {
  const idForm = document.querySelector('form[action="/user/id"]');
  const passwordForm = document.querySelector('form[action="/user/password"]');

  if (idForm) {
    idForm.addEventListener('submit', function(event) {
      const name = document.querySelector('input[name="name"]');
      const phoneNumber = document.querySelector('input[name="phone_number"]');
      
      if (!name.value || !phoneNumber.value) {
        event.preventDefault(); // 제출 막기
        alert('모든 필드를 입력하세요.');
      }
    });
  }

  if (passwordForm) {
    passwordForm.addEventListener('submit', function(event) {
      const id = document.querySelector('input[name="id"]');
      const passwd = document.querySelector('input[name="passwd"]');
      const phoneNumber = document.querySelector('input[name="phone_number"]');
      const name = document.querySelector('input[name="name"]');
      
      if (!id.value || !passwd.value || !phoneNumber.value || !name.value) {
        event.preventDefault(); // 제출 막기
        alert('모든 필드를 입력하세요.');
      }
    });
  }
});

  </script>
  
  <style>
body{
  margin:0;
  color:#6a6f8c;
  background:#fff;
  font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.forget-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:800px;
  position:relative;
  background:rgba(40,57,101,.9);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.forget-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
  background:rgba(40,57,101,.9);
}
.forget-html .sign-in-htm,
.forget-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.forget-html .sign-in,
.forget-html .sign-up,
.id-form .group .check{
  display:none;
}
.forget-html .tab,
.id-form .group .label,
.id-form .group .button{
  text-transform:uppercase;
}
.forget-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.forget-html .sign-in:checked + .tab,
.forget-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.id-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.id-form label {
  color: #aaa; 
  font-size: 12px; 
  margin: 2px;
}
.id-form .group{
  margin-bottom:15px;
}
.id-form .group .label,
.id-form .group .input,
.id-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.id-form .group .input,
.id-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}
.id-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.id-form .group .label{
  color:#aaa;
  font-size:12px;
  display: inline-block;
  margin-right: 10px;
}
.id-form .group .button{
  background:#1161ee;
}
.id-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.id-form .group label .icon:before,
.id-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.id-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.id-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.id-form .group .check:checked + label{
  color:#fff;
}
.id-form .group .check:checked + label .icon{
  background:#1161ee;
}
.id-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.id-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.forget-html .sign-in:checked + .tab + .sign-up + .tab + .id-form .sign-in-htm{
  transform:rotate(0);
}
.forget-html .sign-up:checked + .tab + .id-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  color:#aaa;
  text-align:center;
  font-size: 12px; 
}

  </style>
</head>
<body>
  <div class="forget-wrap">
    <div class="forget-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">아이디 찾기</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">비밀번호 변경</label>
      <div class="id-form">
        <form action="/user/id" method="get">
            <div class="sign-in-htm">
            <div class="group">
                <label for="name" class="label">이름</label>
                <input id="name" type="text" class="input" name="name">
            </div>
            <div class="group">
                <label for="phone_number" class="label">전화번호</label>
                <input id="phone_number" type="text" class="input" name="phone_number">
            </div>
            <div class="group">
                <input type="submit" class="button" value="아이디 찾기">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="/user/login" class="link">로그인으로 돌아가기</a>
            </div>
            </div>
        </form>

        <form action="/user/password" method="post">
            <div class="sign-up-htm">
            <div class="group">
                <label for="id" class="label">아이디</label>
                <input id="id" type="text" class="input" name="id">
            </div>
            <div class="group">
                <label for="passwd" class="label">새로운 비밀번호</label>
                <input id="passwd" type="password" class="input" data-type="password" name="passwd" >
            </div>
            <div class="group">
                <label for="phone_number" class="label">전화번호</label>
                <input id="phone_number" type="text" class="input" name="phone_number">
            </div>
            <div class="group">
                <label for="name" class="label">이름</label>
                <input id="name" type="text" class="input" name="name">
            </div>
            <div class="group">
                <input type="submit" class="button" value="비밀번호 변경">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
                <a href="/user/login" class="link">로그인으로 돌아가기</a>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
