<!DOCTYPE html>
<html>
<head>
    <title>알림 목록</title>
    <style>
      #whole {
          display: grid;
          grid-template-columns: 1fr 19fr;
          height: 1000px;
          position: fixed;
          top: 0; 
          left: 0; 
      }

      nav {
          background-color: #333;
          width: 200px;
          color: #fff;
          padding: 10px;
      }

      nav ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
      }

      nav li {
          padding: 10px;
      }

      nav a {
          text-decoration: none;
          color: #fff;
      }

      nav a:hover {
          color: #ff7f00;
      }

      .user {
          margin-top: 20px;
          display: flex;
          align-items: center;
      }

      .user span {
          margin-right: 10px;
      }

      #logout {
          background-color: #ff7f00;
          color: #fff;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
      }

      #logout:hover {
          background-color: #ff4500;
      }
  </style>
</head>
<body>
    <div id="whole">
    <nav>
      <ul>
          <li><a href="/boards">게시판</a></li>
          <li><a href="/parking">주차장</a></li>
          <li><a href="/user/list">회원 목록</a></li>
          <li><a href="/notify">알림</a></li>
      </ul>
      <div class="user">
        <a href="/logout">
            <button id="logout">로그아웃</button>
        </a>
    </div>
    </nav>
    <div class="main">
    <h1>알림 목록</h1>
    <table>
      <thead>
        <tr>
            <th>알림번호</th>
            <th>알림내용</th>
            <th>알림시간</th>
            <th>알림 삭제</th> 
        </tr>
      </thead>
      <tbody>
        <% result.forEach((item) => { %>
            <tr>
                <td><%= item.notify_id %></td>
                <td><%= item.context %></td>
                <td><%= item.notify_time %></td>
                <td>
                    <!-- 알림 삭제 링크 -->
                    <form method="POST" action="/notify/delete/<%= item.notify_id %>">
                        <button type="submit">알림 삭제</button>
                    </form>
                </td>
            </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
    </div>
</body>
</html>
