<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
</head>
<body>
    <h1>게시판</h1>
    <a href="/posts/new">글 작성하기</a>
    <ul>
        <% posts.forEach((post) => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <a href="/posts/edit/<%= post.id %>">수정</a>
                <a href="/posts/delete/<%= post.id %>">삭제</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>