<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
</head>
<body>
    <h1>새 글 작성</h1>
    <form action="/posts" method="post">
        <label for="title">제목:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">내용:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <input type="submit" value="작성">
    </form>
</body>
</html>